/*
 Width: 98%
 # Columns : 12 
 Column width: 6.5%
 Gutter : 2% 

 */
.grid_1 { width: 7.08%; }
.grid_2 { width: 15.16%; }
.grid_3 { width: 23.24%; }
.grid_4 { width: 31.32%; }
.grid_5 { width: 39.4%; }
.grid_6 { width: 47.48%; }
.grid_7 { width: 55.56%; }
.grid_8 { width: 63.64%; }
.grid_9 { width: 71.72%; }
.grid_10 { width: 79.8%; }
.grid_11 { width: 87.88%; }
.grid_12 { width: 96%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0% 2%;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.container{
	width: 96%; 
	margin: 2% 2%;
}

.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}

* html .clearfix,
*:first-child+html .clearfix {
	zoom:1;
}